.merchPageContainer {
  display: flex;
  flex-direction: column;
}
.merchPage {
  flex: 1; /* Allows the content to grow and take available space */
  background-color: #fff; /* Example background color */
  padding: 20px;
}

  .storeWrapper {
    /* Add styles for the wrapper around EcwidStore */
    margin-top: 120px;
  }
  